body {
  font-family: 'ABeeZee', sans-serif;
  font-family: 'Goudy Bookletter 1911', serif;
  font-family: 'Belleza', sans-serif;
  font-family: 'Unkempt', cursive;
}

h1 {
 color: #ef7591; 
}

hr {
    border-top: 5px solid #f8d90f;
    margin-bottom: 30px;
}


input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    outline: 0;
}

.center-text {
text-align: center;
}

.center-block {
margin: auto;
}

.footer {
  position: fixed;
  bottom: 0;
}


